
**Ödev: Eşli Değerlendirme için SQL Not Defteri**

---

### **Giriş**

Bu Python not defteri ile şunları yapacaksınız:

* SpaceX Veri Setini anlayacaksınız
* Veri setini bir Db2 veritabanındaki ilgili tabloya yükleyeceksiniz
* Ödev sorularını yanıtlamak için SQL sorguları çalıştıracaksınız

---

### **Veri Setine Genel Bakış**

SpaceX, bir dizi tarihi başarı ile dünya çapında dikkat çekmiştir.

Aralık 2010’da alçak dünya yörüngesinden bir uzay aracını geri getiren ilk özel şirket olmuştur. SpaceX, Falcon 9 roket fırlatmalarını web sitesinde 62 milyon dolara reklam ederken, diğer sağlayıcılar her biri için 165 milyon doları aşan maliyetler talep etmektedir. Bu maliyet farkının çoğu, SpaceX’in ilk aşamayı tekrar kullanabilmesinden kaynaklanmaktadır.

Bu nedenle, eğer ilk aşamanın iniş yapıp yapmayacağını belirleyebilirsek, bir fırlatmanın maliyetini de tahmin edebiliriz.

Bu bilgi, SpaceX’e karşı bir roket fırlatması için teklif vermek isteyen alternatif bir şirket tarafından kullanılabilir.

Bu veri seti, SpaceX’in uzaya taşıdığı her bir yük için bir kayıt içermektedir.

---

### **Veri Setini İndirin**

Bu ödev, SpaceX veri setinin yüklenmesini gerektirir.

Çoğu durumda analiz edilecek veri seti, internetten indirilebilecek bir .CSV (virgülle ayrılmış değerler) dosyası olarak sunulur. Aşağıdaki bağlantıya tıklayarak veri setini (.CSV dosyası) indirebilir ve kaydedebilirsiniz:

**SpaceX Veri Seti**

In [1]:
!pip install sqlalchemy==1.3.9

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     - -------------------------------------- 0.3/6.0 MB ? eta -:--:--
     ------- -------------------------------- 1.0/6.0 MB 2.5 MB/s eta 0:00:02
     ---------- ----------------------------- 1.6/6.0 MB 2.6 MB/s eta 0:00:02
     -------------- ------------------------- 2.1/6.0 MB 2.3 MB/s eta 0:00:02
     ----------------- ---------------------- 2.6/6.0 MB 2.2 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 2.1 MB/s eta 0:00:02
     --------------------- ------------------ 3.1/6.0 MB 2.0 MB/s eta 0:00:02
     ------------------------ --------------- 3.7/6.0 MB 2.0 MB/s eta 0:00:02
     -------------------------- ------------- 3.9/6.0 MB 2.0 MB/s eta 0:00:02
     ----------------------------- ---------- 4.5/6.0 MB 2.0 MB/s eta 0:00:01
     ------------------------------- -------- 4.7/6.0 MB 2.0 MB/s eta 0:00:01
     ----------------------------------- ---- 5.2/6.0 MB 1.9 MB/s eta 0:00:01
     ------------------------------------ --- 5.5/6.0 MB 1.9 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 1.9 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp312-cp312-win_amd64.whl size=1142950 sha256=91c5ef4bbf3461705eee613a15babcbd9d87dcbe61c40b3e1320fae63ad46d17
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\b3\1c\42\0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.9

**Veritabanına Bağlan**

Öncelikle SQL uzantısını yükleyelim ve veritabanı ile bir bağlantı kuralım.

In [2]:
# ipython-sql eklentisini yükler. Bu eklenti, Jupyter defterlerinde SQL sorguları çalıştırmayı sağlar.
!pip install ipython-sql

# ipython-sql ve prettytable paketlerini yükler. PrettyTable, SQL çıktılarının tablo halinde daha okunabilir biçimde görüntülenmesini sağlar.
!pip install ipython-sql prettytable

Defaulting to user installation because normal site-packages is not writeable

  WARNING: The script sqlformat.exe is installed in 'C:\Users\Lenovo\AppData\Roaming\Python\Python312\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.42-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.42-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 1.1 MB/s eta 0:00:02
   -------------- ------------------------- 0.8/2.1 MB 1.2 MB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.1 MB 1.4 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.7 MB/s eta 0:00:00
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.16.0 sqlalchemy-2.0.42 sqlparse-0.5.3
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\lenovo\appdata\roaming\python\python312\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\lenovo\appdata\roaming\python\python312\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from ipython-sql) (2.0.42)
Requirement already satisfied: sqlparse in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: greenlet>=1 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [3]:
# SQL uzantısını Jupyter defterine yükler, böylece hücrelerde doğrudan SQL komutları çalıştırılabilir.
%load_ext sql

In [4]:
# csv ve sqlite3 modüllerini içe aktarır. csv, CSV dosyalarını okuma/yazma için; sqlite3 ise SQLite veritabanı ile çalışmak içindir.
import csv, sqlite3

# prettytable modülünü içe aktarır. Bu modül, verileri tablo şeklinde biçimlendirmek için kullanılır.
import prettytable

# Varsayılan tablo stilini ayarlar.
prettytable.DEFAULT = 'DEFAULT'

# 'my_data1.db' adlı bir SQLite veritabanı dosyasına bağlanır (eğer yoksa oluşturur).
con = sqlite3.connect("my_data1.db")

# Veritabanı üzerinde SQL sorguları çalıştırmak için bir imleç (cursor) oluşturur.
cur = con.cursor()

In [5]:
# pandas kütüphanesini sessiz modda (ekrana fazla çıktı vermeden) yükler. 
# pandas, veri analizi ve veri işleme işlemleri için yaygın olarak kullanılır.
!pip install -q pandas

In [6]:
# SQL sihirli komutuyla SQLite veritabanına bağlanılır.
# Burada 'my_data1.db' adlı yerel SQLite veritabanı dosyasına bağlantı kurulur.
%sql sqlite:///my_data1.db

In [7]:
# pandas kütüphanesini içe aktarır. Bu kütüphane, veri analizi ve veri işleme için kullanılır.
import pandas as pd

# SpaceX veri setini internetten CSV formatında okur ve bir pandas DataFrame'ine yükler.
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# DataFrame'deki verileri 'SPACEXTBL' adında bir tablo olarak SQLite veritabanına kaydeder.
# Eğer tablo zaten varsa, üzerine yazar (if_exists='replace').
# 'index=False' parametresi, DataFrame'in indeks sütununun tabloya yazılmamasını sağlar.
# 'method="multi"' ise çoklu satır eklemeyi optimize eder, daha hızlı veri aktarımı sağlar.
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

101

**Not: Aşağıdaki kod, tablodaki boş (içeriği olmayan) satırları kaldırmak için eklenmiştir.**

In [8]:
# Eğer SPACEXTABLE adında bir tablo varsa, onu siler.
# Bu, tabloyu yeniden oluşturmak veya veri temizliği yapmak amacıyla kullanılır.

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [9]:
# SPACEXTABLE adında yeni bir tablo oluşturur.
# Bu tablo, SPACEXTBL tablosundaki "Date" sütunu boş olmayan (null olmayan) satırları içerir.
# Böylece "Date" sütunu boş olan kayıtlar bu yeni tabloda yer almaz.
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

### Görevler

Şimdi, ödev görevlerini çözmek için SQL sorguları yazıp çalıştırın.

**Not:** Eğer sütun isimleri büyük-küçük harf karışık ise, çift tırnak içine alın. Örneğin `"Landing_Outcome"`.

---

### Görev 1

Uzay görevlerindeki benzersiz (tekrarsız) fırlatma noktalarının isimlerini görüntüleyin.

In [10]:
%sql SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Görev 2

Fırlatma noktası adı **'CCA'** ile başlayan 5 kaydı görüntüleyin.

In [11]:
%sql SELECT * FROM SPACEXTABLE WHERE "Launch_Site" LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]


### Görev 3

NASA (CRS) müşterisi için taşınan toplam yük ağırlığını bulun.

In [12]:
%sql SELECT SUM("Payload_Mass__kg_") AS Total_Payload_Mass FROM SPACEXTABLE WHERE "Customer" = 'NASA (CRS)';

# SUM("Payload_Mass__kg_"): Payload_Mass__kg_ sütunundaki tüm değerleri toplar.
# AS Total_Payload_Mass: Toplam sonucu “Total_Payload_Mass” olarak isimlendirir (daha okunaklı olur).
# WHERE "Customer" = 'NASA (CRS)': Sadece müşteri NASA (CRS) olan satırları seçer.

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Görev 4

“F9 v1.1” adlı güçlendirici (booster) versiyonu tarafından taşınan yüklerin **ortalama ağırlığını** bulun.

In [13]:
%sql SELECT AVG("Payload_Mass__kg_") AS Average_Payload_Mass FROM SPACEXTABLE WHERE "Booster_Version" = 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Görev 5

Landing_Outcome sütununda ‘Success (ground pad)’ olan, **yani yer tabanındaki platformda gerçekleşen ilk başarılı inişin tarihini bulun.**

**İpucu:** `MIN` fonksiyonunu kullanın.

In [14]:
%sql SELECT MIN("Date") AS First_Successful_Landing_Date FROM SPACEXTABLE WHERE "Landing_Outcome" = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Görev 6

Drone gemisinde (drone ship) başarılı iniş yapan, yükü 4000 kg’dan büyük ve 6000 kg’dan küçük olan güçlendiricilerin (booster) isimlerini listele.

In [18]:
# "Landing_Outcome" sütununda değer 'Success (drone ship)' olan kayıtları alıyoruz. Yani iniş drone gemisinde başarıyla olmuş.
# "Payload_Mass__kg_" sütununda değer 4000’den büyük ve 6000’den küçük olanları seçiyoruz. Yani yük ağırlığı belirtilen aralıkta.
# Sonra bu kayıtların "Booster_Version" sütunundaki isimlerini listeliyoruz.
# Aynı ismin tekrar çıkmaması için DISTINCT kullanıyoruz.

%sql SELECT DISTINCT "Booster_Version" FROM SPACEXTABLE WHERE "Landing_Outcome" = 'Success (drone ship)' AND "Payload_Mass__kg_" > 4000 AND "Payload_Mass__kg_" < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]


### Görev 7

Başarılı ve başarısız olan görevlerin toplam sayısını listeleyin.

In [20]:
# "Mission_Outcome" sütunundaki her farklı değeri gruplar (örneğin: Success, Failure).
# Her grup için o görevin kaç kez tekrarlandığını sayar (COUNT(*)).
# Böylece kaç başarılı ve kaç başarısız görev olduğu listelenir.
%sql SELECT "Mission_Outcome", COUNT(*) AS Outcome_Count FROM SPACEXTABLE GROUP BY "Mission_Outcome";

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Görev 8

Uygun bir toplama (aggregate) fonksiyonu ve alt sorgu (subquery) kullanarak, en yüksek yük kütlesini taşıyan tüm güçlendirici versiyonlarını listeleyin.

In [21]:
# Alt sorgu (SELECT MAX("Payload_Mass__kg_") FROM SPACEXTABLE) tablodaki en büyük yük kütlesini bulur.
#Dış sorgu ise bu maksimum değere sahip tüm güçlendiricileri listeler.

%sql SELECT "Booster_Version", "Payload_Mass__kg_" FROM SPACEXTABLE WHERE "Payload_Mass__kg_" = (SELECT MAX("Payload_Mass__kg_") FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]


### Görev 9

2015 yılına ait aylarda gerçekleşen, drone gemisinde başarısız iniş sonucu (failure landing outcomes) olan görevlerin;

* Ay isimlerini (month names),
* Başarısız iniş sonuçlarını (failure landing outcomes),
* Güçlendirici versiyonlarını (booster versions),
* Fırlatma noktalarını (launch\_site)

listeleyen kayıtları görüntüleyin.

**Not:** SQLite, ay isimlerini desteklemediği için;

* Ayları almak için `substr(Date, 6, 2)` kullanmalısınız.
* Yılı filtrelemek için `substr(Date, 0, 5) = '2015'` kullanmalısınız.

In [23]:
# YYYY-MM-DD
# substr("Date", 1, 4)- Burada "Date" stringinin 1. karakterinden başlayarak 4 karakter al demektir. Yani: "2015" (yıl)
# substr("Date", 6, 2)- Burada "Date" stringinin 6. karakterinden başlayarak 2 karakter al demektir. Yani: "03" (ay)

#substr("Date", 6, 2) ile tarih sütunundan ay kısmını alıyoruz.
# CASE ile ay numarasını ay ismine çeviriyoruz.
# substr("Date", 1, 4) = '2015' ile sadece 2015 yılına ait kayıtları seçiyoruz.
# "Landing_Outcome" sütununda hem ‘Failure’ hem de ‘drone ship’ geçen kayıtları filtreliyoruz.

%sql SELECT CASE substr("Date", 6, 2) WHEN '01' THEN 'January' WHEN '02' THEN 'February' WHEN '03' THEN 'March' WHEN '04' THEN 'April' WHEN '05' THEN 'May' WHEN '06' THEN 'June' WHEN '07' THEN 'July' WHEN '08' THEN 'August' WHEN '09' THEN 'September' WHEN '10' THEN 'October' WHEN '11' THEN 'November' WHEN '12' THEN 'December' END AS Month_Name, "Landing_Outcome", "Booster_Version", "Launch_Site" FROM SPACEXTABLE WHERE substr("Date", 1, 4) = '2015' AND "Landing_Outcome" LIKE '%Failure%' AND "Landing_Outcome" LIKE '%drone ship%';

 * sqlite:///my_data1.db
Done.

[('January', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Görev 10

2010-06-04 ile 2017-03-20 tarihleri arasında gerçekleşen iniş sonuçlarının (örneğin, Failure (drone ship) veya Success (ground pad) gibi) sayısını, azalan (büyükten küçüğe) sıralayarak listeleyin.

In [24]:
# "Date" BETWEEN '2010-06-04' AND '2017-03-20' ile verilen tarih aralığındaki kayıtları filtreler.
# "Landing_Outcome" sütununa göre gruplar ve her grubun sayısını (COUNT(*)) hesaplar.
# Sonuçları iniş sayısına göre azalan sırada listeler.
%sql SELECT "Landing_Outcome", COUNT(*) AS Outcome_Count FROM SPACEXTABLE WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY "Landing_Outcome" ORDER BY Outcome_Count DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]